.headerClass{font-size:100%;box-sizing:border-box;position:relative;
  width:100%;border-bottom:1px solid black;margin-bottom:10px;
}

.logo{width: 16%;
    float: left;clear:both;}
.hospitalName{float:left;width:84%;text-align:center;color: lightseagreen;font-size: 30px;background-color:lightgray;}

.bodyClass{background-color: lightgray;box-sizing:border-box;
  width:100%;border-bottom:1px solid black;display:inline-block;
}

.Supplier Details{width:60%;padding: 5px;background: lightgray;}
.Supplier Details .Medicine{float: left;}
.optionsBar{width:40%;height: 250px;display:inline-block;padding: 5px;float: right;padding: 0px 40px 0px 0px;}
.optionsBar ul{list-style: none;float: right;}
.optionsBar ul li  {font-size:22px;padding:10px;}
.optionsBar ul li a{text-decoration: none;}
.footerClass{background-color:lightcoral;width:100%;height:10%;text-align: center;font-size:30px;padding:5px;}
.button{text-decoration: center;}
.Medicine{width: 50%;float: left;padding :10px 0px 2px 42px;}
.Supplier_static_data{display:inline-block;margin: 0px 0px 0px 50px;}
   .supplierid_label{ margin: 0px 35px 0px 0px}
.supplierid_input{margin: 0px 0px 0px 90px;}
.suppliername_input{margin: 0px 0px 0px 90px;}
form{font-size: 25px;}
table{margin: 0px 50px 0px 0px;font-size: 26px;}
.button input{font-size: 25px;padding: 10px 20px;margin-left: 327px;
    margin-bottom: 16px;}